<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <title>차량 대여</title>
</head>
<!-- Content -->
<div layout:fragment="content">
    <div class="container my-4">
        <div class="card bg-light rounded">
            <div class="card-body">
                <div class="text-center">
                    <h2>차종을 선택해 주세요.</h2>
                    <br>
                    <div class="container my-4">
                        <div class="row justify-content-center">
                            <div th:each="carModel, iter : ${carModelList}" class="col-md-6 col-lg-4 mt-3">
                                <div th:replace="~{fragments/selectCard :: selectCard(${iter.index + 1}, ${carModel}, 'car')}"></div>
                            </div>
                        </div>
<!--                        <div class="row justify-content-center mt-3">-->
<!--                            <div class="col-md-4" th:replace="~{fragments/selectCard :: selectCard('4', '그랜저', 'car')}"></div>-->
<!--                            <div class="col-md-4" th:replace="~{fragments/selectCard :: selectCard('5', '제네시스', 'car')}"></div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>