<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>일산렌터카</title>
</head>
<!-- Content -->
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mt-5">
                <h2 class="text-center">일산렌터카</h2>
                <div class="text-center mt-3">
                    <a href="/home">접속하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>