<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<!-- Content -->
<div layout:fragment="content">
    <div class="container">
        <div th:if="${param.error}">
            잘못된 아이디 또는 비밀번호입니다.
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mt-5">
                <h2 class="text-center">로그인이 필요합니다</h2>
                <form action="/login/process" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">로그인</button>
                </form>
                <div class="text-center mt-3">
                    <a href="/register">계정이 없으신가요? 회원가입</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>