<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <title>유저&역할 관리</title>
</head>
<!-- Content -->
<main layout:fragment="content" class="container">
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light rounded">
                <div class="card-body">
                    <h4>사용자 목록</h4>
                    <ul id="userList" class="list-group">
                        <!-- Dynamically loaded users will go here -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light rounded">
                <div class="card-body">
                    <h4>부여된 역할</h4>
                    <ul id="assignedRoles" class="list-group">
                        <!-- Dynamically loaded assigned roles will go here -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light rounded">
                <div class="card-body">
                    <h4>부여되지 않은 역할</h4>
                    <ul id="unassignedRoles" class="list-group">
                        <!-- Dynamically loaded unassigned roles will go here -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script th:inline="javascript">
        let assignedRoles = [];
        let unassignedRoles = [];
        const users = [];
        // Function to initialize the roles in their respective lists
        function initRoles() {
            assignedRoles.forEach(role => {
                $('#assignedRoles').append(`<li class="list-group-item" onclick="toggleRole(this)" data-role='${JSON.stringify(role)}'>${role.name}</li>`);
            });
            unassignedRoles.forEach(role => {
                $('#unassignedRoles').append(`<li class="list-group-item" onclick="toggleRole(this)" data-role='${JSON.stringify(role)}'>${role.name}</li>`);
            });
        }

        function initUsers() {
            users.forEach(user => {
                $('#userList').append(`<li class="list-group-item" onclick="selectUser(this)" data-user='${JSON.stringify(user)}'>${user.username +'('+ user.name+')'}</li>`);
            });
        }

        // Function to select a user
        async function selectUser(item) {
            const user = JSON.parse($(item).attr('data-user'));

            const json = await (await fetch('/authorize/user/role?id=' + user.id, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })).json()
            const data = json.data;
            const aRoll = data[0];
            const uRoll = data[1];

            // 다른 모든 항목에서 'selected' 클래스 제거
            document.querySelectorAll('.list-group-item').forEach(function(el) {
                el.classList.remove('selected');
            });

            // 클릭된 항목에 'selected' 클래스 추가
            item.classList.add('selected');

            // Clear the roles
            assignedRoles.length = 0;
            unassignedRoles.length = 0;

            // Add the roles to the respective lists
            aRoll.forEach(roleDto => {
                assignedRoles.push(roleDto);
            });
            uRoll.forEach(roleDto => {
                unassignedRoles.push(roleDto);
            });

            // Refresh the lists
            $('#assignedRoles').empty();
            $('#unassignedRoles').empty();
            initRoles();
        }

        // Function to move roles between lists
        function toggleRole(item) {
            const parentID = $(item).parent().attr('id');
            const role = JSON.parse($(item).attr('data-role'));
            const user = JSON.parse($('.selected').attr('data-user'));

            if (parentID === 'assignedRoles') {
                fetch('/authorize/user/role', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        userId: user.id,
                        roleId: role.id
                    })
                }).then(res => res.json())
                .then(res => {
                    assignedRoles = assignedRoles.filter(r => r.id !== role.id);
                    unassignedRoles.push(role);

                    $('#assignedRoles').empty();
                    $('#unassignedRoles').empty();
                    initRoles();
                    alert('역할이 해제되었습니다.')
                })
                .catch(err => {
                    alert('에러 발생!');
                })
            } else {
                fetch('/authorize/user/role', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        userId: user.id,
                        roleId: role.id
                    })
                }).then(res => res.json())
                .then(res => {
                    unassignedRoles = unassignedRoles.filter(r => r.id !== role.id);
                    assignedRoles.push(role);

                    $('#assignedRoles').empty();
                    $('#unassignedRoles').empty();
                    initRoles();
                    alert('역할이 부여되었습니다.')
                })
                .catch(err => {
                    alert('에러 발생!');
                })
            }
        }

        // Initialize roles on document ready
        $(document).ready(function() {
            [# th:each="user, stat : ${userList}"]
                users.push([[${user}]]);
            [/]
            initUsers();
        });
    </script>

    <style>
        .selected {
            background-color: #f0f0f0; /* 선택된 항목의 배경색 */
        }
    </style>

</main>
</html>
